<div class="row">
    <!-- Channels Column top-row -->
    <div class="col-sm-1" id="upper-left">
        <p>Speak</p>
    </div>
    <div class="col-sm-11">
        <!-- Header -->
        <div class="header">
          <a id="logo"><img src="/static/pics/favicon-32.png" alt="~Speak~"> #'Channel Name'</a>
          <div class="header-right">
            <a>place</a>
            <a>place2</a>
          </div>
        </div>
    </div>
</div>

<!-- Begin Second Row -->
<div class="row" id="second_row">
    <div class="col-sm-1" id="sidebar">
        Channels list
    </div>

    <!-- Begin Chat Channel Box -->
    <div class="col-sm-11" id="chat_channel">
        <div id="message_container">

            <!-- Repeatable message containers -->
            <div class="row">
                <div class="message_box">
                    <div class="user_info"><p class="user_info">Name timestamp</p></div>
                    <div class="message"><p class="message">Messages inserted here.  Messages inserted here. Messages inserted here.</p></div>
                </div>
            </div>

        </div>
        <!-- Footer message insert form -->
        <div id="footer_container">
            Test info in footer
        </div>
    </div>
</div>