<!DOCTYPE html>

<html lang="en">
    <head>

        <!-- Required Meta Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- https://getbootstrap.com -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

        <!-- App's own CSS -->
        <link href="/static/styles.css" rel="stylesheet"/>

        <!-- App's JavaScript -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <!-- Inner html of the handlebars loop for channel lists. -->
        {% raw -%}
        <script id="channel_script" type="text/x-handlebars-template">
        {{#each value}}
            <div class="channel_selector"><span id="{{ this }}" class="channel_item">{{ this }}</span></div>
        {{/each}}
        </script>
        {%- endraw %}
        <script src="{{url_for('static', filename='scripts.js')}}"></script>

        <!-- Add Favicon -->
        <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}">

        <title>Speak</title>
    </head>

    <body>
        <div id="entry"><h2>It appears you are a new user.  Please create a username to be granted access to Speak.</h2></div>
        <!-- The login Modal -->
        <div id="modal_1" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-teal">
                    <h2>Enter Username</h2>
                </header>
                <div>
                    <form id="form1">
                        <input id="user_name" autocomplete="off" autofocus placeholder="Enter UserName" type="text" maxlength="15">
                        <input type="submit" value="Create User">
                    </form>
                </div>
            </div>
        </div>

        <!-- problem div -->
        <div id="problem"><p id="reason"></p></div>

        <!-- gate -->
        <div id="gate" class="container-fluid"></div>

        <!-- The create channel Modal -->
        <div id="modal_2" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-teal">
                    <h2>New Channel Creator</h2>
                </header>
                <div>
                    <form id="form2">
                        <input id="channel_name" autocomplete="off" autofocus placeholder="Enter Channel Name" type="text" maxlength="25">
                    </form>
                    <input type="submit" form="form2" value="Create Channel"><span>  </span><input id="cancel_create" type="button" value="cancel create">
                </div>
            </div>
        </div>

    </body>
</html>